* {
    margin: 0; 
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    color:  rgb(235, 235, 235);
    text-decoration: none;
}
.clear {
        clear: both; 
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #75aadb;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
}
.main1 {
    background-image: url(background.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-height: 100vh; 
    padding-top: 40px;
  }
.container {
    max-width: 1100px; 
    margin: 0 auto;  
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
.winner {
    position: absolute;
    font-size: 32px;
    margin-left: 12%;
    min-width: 100vh;
    margin-top: 5%;
}
.scale {
    transition: 1s; 
    margin-top: 5px;
    width: 25px;
}
.scale:hover {
    transform: scale(1.2);
}
.argentina {
    position: absolute;
    font-size: 12px;
    margin-right: 7%;
    min-width: 100vh;
    margin-top: 10%;
}
.home {
    position: absolute;
    margin-right: 325px;
    padding: 5px;
    transition: 0.5s; 
    border-radius: 5px;
}
.home:hover {
    background-color: whitesmoke;
    color: navy;
    opacity: 1;         
}
a:hover {
    color: #75aadb;
}
.world-cup {
    position: absolute;
    margin-right: 150px;
    padding: 5px;
    transition: 0.5s; 
    border-radius: 5px;
}
.world-cup:hover {
    background-color: whitesmoke;
    color: #75aadb;
    opacity: 1; 
}
.trophies {
    position: absolute;
    margin-left: 135px;
    padding: 5px;
    transition: 0.5s; 
    border-radius: 5px;
}
.trophies:hover {
    background-color: white;
    color: #75aadb;
    opacity: 1;            
}
.account {
    position: absolute;
    margin-left: 300px;
    padding: 5px;
    transition: 0.5s; 
    border-radius: 5px;
}
.account:hover {
    background-color: whitesmoke;
    color: #75aadb;
    opacity: 1;
}
.top-block {
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
}
.photo1 {
    position: absolute;
    width: 150px;
    margin-top: 350px;
    margin-left: 0%;
    border-radius: 5px;
    display: inline-block; 
}
.photo1 img {
    transition: 1.5s; 
    display: block; 
   }
.photo1 img:hover {
    transform: scale(1.2); 
   }
.photo2 {
    position: absolute;
    width: 150px;
    margin-top: 350px;
    margin-left: 450px;
    border-radius: 5px;
    display: inline-block; 
}
.photo2 img {
    transition: 1.5s; 
    display: block; 
   }
.photo2 img:hover {
    transform: scale(1.2); 
   }
.photo3 {
    position: absolute;
    width: 150px;
    margin-top: 350px;
    margin-left: 80%;
    border-radius: 5px;
    display: inline-block; 
}
.photo3 img {
    transition: 1.5s; 
    display: block; 
   }
.photo3 img:hover {
    transform: scale(1.2); 
   }   
.main {
    background-color: CornflowerBlue; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-height: 100vh; 
    padding-top: 40px;
}
.afc {
    position: absolute;
    font-size: 37px;
    margin-left: 14%;
    min-width: 100vh;
    margin-top: 0%;
}
.phot {
    position: absolute;
    width: 150px;
    margin-top: 7%;
    margin-left: 43.5%;
    border-radius: 5px;
    display: inline-block; 
}
.phot img {
    transition: 1.5s; 
    display: block; 
   }
.phot img:hover {
    transform: scale(1.2); 
   }
.open-home {
    position: absolute;
    margin-right: 325px;
    padding: 5px;
    transition: 0.5s; 
    border-radius: 5px;
    color: #75aadb;
    background-color: whitesmoke;
}
.open-home:hover {
    background-color: #75aadb;
    opacity: 1;         
}
.ahome {
    color:#75aadb;
}
.ahome:hover {
    text-decoration: none;
    color: whitesmoke;
}
.open-worldcup {
    position: absolute;
    margin-right: 150px;
    padding: 5px;
    transition: 0.5s; 
    border-radius: 5px;
    color: #75aadb;
    background-color: whitesmoke;
}
.open-worldcup:hover {
    background-color: #75aadb;
    opacity: 1;         
}
.aworldcup {
    color:#75aadb;
}
.aworldcup:hover {
    text-decoration: none;
    color: whitesmoke;
}
.open-trophies {
    position: absolute;
    margin-left: 135px;
    padding: 5px;
    transition: 0.5s; 
    border-radius: 5px;
    color: #75aadb;
    background-color: whitesmoke;
}
.open-trophies:hover {
    background-color: #75aadb;
    opacity: 1;         
}
.atro {
    color:#75aadb;
}
.atro:hover {
    text-decoration: none;
    color: whitesmoke;
}
